/dist
/node_modules
coverage/

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarnrc.yml

*.gz
install-stage*

.DS_Store

/coverage
/.nyc_output

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.dev
.env.prod
.env.development.local
.env.development

.env.test.local
.env.production.local
.env.local


.temp
.tmp

pids
*.pid
*.seed
*.pid.lock

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

